<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>URL - TinyApp Example</title>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- add header partial -->
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text">
        Short URL ID: <a href="/urls/<%= id %>"><%= id %></a>
    </div>
    <div class="card-footer text-muted">
      <h1>Edit</h1>
      <p>
        <form method="post" action="/urls/<%= id %>">
          New URL: <input name="editLongURL" placeholder="http://">
          <!-- need to add name="key" in order to find the client updated longURL from req.body.key -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </p>
    </div>
  </div>
</body>
</html>